h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.list-input {
    display: flex;
    align-items: center;
    margin: 10px auto;
    gap: 10px;
}

.list-input input {
    height: 50px;
    padding: 10px;
    border: 1px solid #dedede;
    outline: 0;
    flex: 1;
    border-radius: 8px;
    font-size: 1.2rem;
}

.list-input button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border: 0;
    border-radius: 50px;
    background-color: rgb(230, 126, 112);
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
}

.list-input button:hover {
    background: rgb(224, 155, 146);
}

.list-col {
    margin-top: 10px;
}

/* .todo-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
} */

.list-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.list-item>li {
    display: flex;
    align-items: center;
    border: 1px solid #dedede;
    padding: 10px 5px;
    border-radius: 4px;
    gap: 10px;
}